In [1]:
import pandas as pd
df = pd.read_csv("salaries.csv")

In [2]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [9]:
inputs = df.drop('salary_more_then_100k', axis= 'columns')

In [10]:
target = df['salary_more_then_100k']

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le_company = LabelEncoder()
le_job= LabelEncoder()
le_degree = LabelEncoder()

In [34]:
inputs['company1'] = le_company.fit_transform(inputs['company'])
inputs['job1'] = le_job.fit_transform(inputs['job'])
inputs['degree1'] = le_degree.fit_transform(inputs['degree'])

In [35]:
inputs.head()

  company                  job     degree  company_n  job1  degree1  company1
0  google      sales executive  bachelors          2     2        0         2
1  google      sales executive    masters          2     2        1         2
2  google     business manager  bachelors          2     0        0         2
3  google     business manager    masters          2     0        1         2
4  google  computer programmer  bachelors          2     1        0         2

In [37]:
new = inputs.drop(['company','job','degree','company1'], axis ='columns')

In [38]:
new.head()

   company_n  job1  degree1
0          2     2        0
1          2     2        1
2          2     0        0
3          2     0        1
4          2     1        0

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [40]:
model = DecisionTreeClassifier()

In [41]:
model.fit(new,target)

DecisionTreeClassifier()

In [42]:
model.score(new,target)

1.0

In [44]:
model.predict([[2,0,1]])

array([1], dtype=int64)